body {
    background-color: rgb(62, 115, 145);
   }
   .calculator {
       width: 300px;
       margin: 100px auto;
       background-color: #1d4968;
       border: 4px solid #1980395c;
       border-radius: 5px;
       box-shadow: 0px 0px 10px rgba(67, 5, 5, 0.1);
       padding: 20px;
   }
   .calculator input[type="text"] {
       width: 100%;
       height: 40px;
       font-size: 18px;
       padding: 5px;
       margin-bottom: 10px;
       border: 1px solid #ccc;
       border-radius: 3px;
   }
   .calculator button {
       width: 50px;
       height: 50px;
       font-size: 20px;
       margin: 5px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
   }
   .calculator button.operator {
       background-color: #f26c4f;
       color: #fff;
   }
   .calculator button.clear {
       background-color: #f8966f;
       color: #fff;
   }
   .calculator button.equal {
       background-color: #34b297;
       color: #fff;
   }